@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #7380ec;
  --color-danger: #e63946;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-background-2: #000;

  --linear-header-1: #1e1e1e;
  --linear-header-2: #2c2c2e;

  --color-background-3: #392d69;
  --color-background-4: #b57bee;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.container-header {
  width: 100%;
  margin: auto;
  padding: 0px 12px;
}

.header {
  background: linear-gradient(
    220.55deg,
    var(--linear-header-1) 0%,
    var(--linear-header-2) 100%
  );
  font-family: "Poppins", sans-serif;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-all-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.menu nav ul li {
  display: inline-block;
  line-height: 65px;
  margin: 0 7px;
}

.menu nav ul li a {
  display: block;
  color: var(--color-white);
  text-decoration: none;
  font-size: 16px;
}

.menu nav ul li a:hover {
  color: var(--color-background-4);
  transition: all 0.2s ease;
}

.menu nav ul li a.active {
  font-weight: bold;
}

.icon i {
  display: none;
}

.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buscador form {
  width: 80%;
}

.buscador .group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 100%;
}

.buscador .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.buscador .input::placeholder {
  color: #9e9ea7;
}

.buscador .input:focus,
input:hover {
  outline: none;
  border-color: var(--color-background-3);
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.buscador .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.cuenta ul {
  display: flex;
}

.cuentaInputRegistro {
  display: flex;
  align-items: center;
  background-color: var(--color-dark);
  margin-top: auto;
  margin-bottom: auto;
  height: 43px;
}

.contain-logo-buscador {
  width: 400px;
  display: flex;
}
header{
    position: fixed;
    z-index: 2;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: linear-gradient(230deg, rgba(57,45,105,1) 0%, rgba(57,45,105,1) 42%, rgba(181,123,238,1) 100%);
    border-left: 10px solid rgba(181,123,238,1);
    transition: 0.5s;
    overflow: hidden;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover{
    background: whitesmoke;
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: whitesmoke;
}

.navigation ul li:hover a{
    color: black;
    transition: 0.5s;
    font-weight: bold;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align:center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/*curva*/

.navigation ul li:hover a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px whitesmoke;
    pointer-events: none;

}

.navigation ul li:hover a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px whitesmoke;
    pointer-events: none;

}

.colo{
    background: gray;
}

.conteiner-src{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: whitesmoke;

}
















