.form-data {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.form {
  width: 100%;
}

.title-product {
  font-weight: normal;
}

.form.text-group-area {
  width: 80%;
}

.contain-dropdown {
  color: black;
  text-align: left;
}

.select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.select-box .options-container.active-options {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active-options + .selected::after{
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container {
  background: #f5f6fa;
  color: #2f3640;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #f5f6fa;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #2f3640;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url("../images/ico/down-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
  color: var(--color-white);
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.form-input-data {
  background: #f5f6fa;
}