.container-content {
  grid-template-columns: 14rem auto;
}

.login-dashboard {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid var(--color-white);
}

.img-container-login {
  background-image: url("../images/Backgrounds/login.jpg");
  background-size: cover;
  background-position: center;
}

.present-login-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.present-login-dashboard h2 {
  text-transform: uppercase;
}

.underline-dashboard-login {
  position: absolute;
  width: 300px;
  margin-top: 230px;
  height: 5px;
  background-color: var(--color-white);
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-login {
  padding: 50px;
}

.input-group > * {
  margin-bottom: 15px;
}

.input {
  border: none;
  border-radius: 1rem;
  background: #1e1e1e;
  padding: 0.8rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.input:valid {
  outline: none;
}

.input:focus ~ label,
.input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--color-background-2);
  padding: 0 0.2em;
  color: #2196f3;
}

.underline-dashboard-login span {
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: var(--color-warning);
  border-radius: 3px;
  left: 15%;
}

.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-check {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: #606062;
  border-radius: 7px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 5);
}

.container-check input:checked ~ .checkmark {
  background-image: linear-gradient(#255cd2, #1d52c1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-check input:checked ~ .checkmark:after {
  display: block;
}

.container-check .checkmark:after {
  left: 0.45em;
  top: 0.2em;
  width: 0.24em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.init-sesion {
  display: flex;
  margin-bottom: 20px;
}

.init-sesion > label {
  margin-right: 15px;
}

.link-dashboard-register {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.link-dashboard-register a {
  text-decoration: none;
  color: #8298ff;
}

.main_div {
  width: 50%;
  --color: #3992e6;
  position: relative;
  z-index: 1;
}

.main_div::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  top: -7px;
  left: -7px;
  z-index: -5;
  border-top: 3px solid var(--color);
  border-left: 3px solid var(--color);
  transition: 0.5s;
}

.main_div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  bottom: -7px;
  right: -7px;
  z-index: -5;
  border-right: 3px solid var(--color);
  border-bottom: 3px solid var(--color);
  transition: 0.5s;
}

.main_div:hover::before {
  width: 100%;
  height: 100%;
}

.main_div:hover::after {
  width: 100%;
  height: 100%;
}

.main_div button {
  padding: 0.7em 2em;
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
  background: #222222;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.button-form {
  display: flex;
  justify-content: center;
}

aside .sidebar {
  height: 80vh;
}