.underline-dashboard-login span {
  background-color: var(--color-danger);
}

.img-container-login {
  background-image: url("../images/Backgrounds/recuperacion.jpg");
  background-size: cover;
  background-position: center;
}

.container-content {
  grid-template-columns: 14rem auto;
}
