.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.sproduct select {
  display: block;
  padding: 5px 10px;
}

.sproduct input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.sproduct input:focus {
  outline: none;
}

.buy-btn {
  background: #fb77fb;
  opacity: 1;
  transition: 0.3s all;
}


      /*Carrito*/
#cart-container {
  overflow-x: auto;
}

#cart-container table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

#cart-container table thead{
  font-weight: 700;
}

#cart-container table thead td{

  color: #fff;
  border: none;
  padding: 6px 0;
}
#cart-container table thead{
  background: linear-gradient(
    120deg,
    var(--color-background-3) 0%,
    var(--color-background-4) 100%
  );
}

.container {
  width: 80%;
  margin: auto;
  padding: 0px 12px;
}

#cart-container table td{
  border: 1px solid #b6b3b3;
  text-align: center;

}

#cart-container table td:nth-child(1){
  width: 100px ;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
  width: 200px ;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
  width: 170px ;
}

#cart-container table tbody img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}

#cart-container table tbody i{
  color: #D62828;
}

#cart-bottom .coupon>div,
#cart-bottom .total>div{
  border: 1px solid #b6b3b3;
}

#cart-bottom .coupon h5,
#cart-bottom .total h5{
  background: linear-gradient(
    120deg,
    var(--color-background-3) 0%,
    var(--color-background-4) 100%
  );
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input {
  padding: 0 12px;
}

#cart-bottom .coupon input {
  height: 44px;
}

#cart-bottom .coupon input,
#cart-bottom .coupon input  {
  margin: 0 0 20px 12px;
}

#cart-bottom .total div>div{
  padding: 0 12px;
}

#cart-bottom total h6{
  color: #2a2a2a;
}

.second-hr {
  background: #b8b7b3;
  width: 100%;
  height: 1px;
}

#cart-bottom .total div>button{
  margin: 0 12px 20px 0;
  display: flex;
  justify-content: flex-end;
}

.btn_perso {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
 }

 .btn_perso::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
  border-radius: 10px;
 }
 /* glow */
 .btn_perso::before {
  content: "";
  background: linear-gradient(
     45deg,
     #FF0000, #002BFF, #FF00C8, #002BFF,
       #FF0000, #002BFF, #FF00C8, #002BFF
 );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
 }

 @keyframes glowing {
  0% {
   background-position: 0 0;
  }

  50% {
   background-position: 400% 0;
  }

  100% {
   background-position: 0 0;
  }
 }

 /* hover */
 .btn_perso:hover::before {
  opacity: 1;
 }

 .btn_perso:active:after {
  background: transparent;
 }

 .btn_perso:active {
  color: #FFF;
  font-weight: bold;
 }

 .center_button{
  display: flex;
  justify-content: flex-end;
 }

 .input {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
 }

 .input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
 }

 /*button*/

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(167, 46, 223);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: rgb(0, 0, 0);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(167, 46, 223);
  box-shadow: 0 0 30px 5px rgba(167, 46, 223);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.tabla-datos p{
  margin:  20px;
}

body {
  background: #fff!important;
}