@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #7380ec;
  --color-danger: #e63946;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-background-2: #000;

  --linear-header-1: #1e1e1e;
  --linear-header-2: #2c2c2e;

  --color-background-3: #392d69;
  --color-background-4: #b57bee;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container-header {
  width: 100%;
  margin: auto;
  padding: 0px 12px;
  position: fixed;
background: linear-gradient(
    220.55deg,
    var(--linear-header-1) 0%,
    var(--linear-header-2) 100%
  );
}

.header {
  background: linear-gradient(
    220.55deg,
    var(--linear-header-1) 0%,
    var(--linear-header-2) 100%
  );
  font-family: "Poppins", sans-serif;
position: fixed;
}
body{
  background: rgb(57,45,105);
  background: linear-gradient(157deg, rgba(57,45,105,1) 0%, rgba(57,45,105,1) 42%, rgba(181,123,238,1) 100%);
 z-index: -1;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.logo img {
  width: 40px;
  height: 40px;
}

.header-all-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.menu nav ul li {
  display: inline-block;
  line-height: 65px;
  margin: 0 7px;
}

.menu nav ul li a {
  display: block;
  color: var(--color-white);
  text-decoration: none;
  font-size: 16px;
}

.menu nav ul li a:hover {
  color: var(--color-background-4);
  transition: all 0.2s ease;
}

.menu nav ul li a.active {
  font-weight: bold;
}

.icon i {
  display: none;
}

.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buscador form {
  width: 80%;
}
.contenedor img{
  width: 40%;
}
.contenedor2 img{
  width: 40%;
}

.contenedor3 img{
  width: 40%;
}
.contenedor4 img{
  width: 40%;
}
.buscador .group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 100%;
}

.buscador .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.buscador .input::placeholder {
  color: #9e9ea7;
}

.buscador .input:focus,
input:hover {
  outline: none;
  border-color: var(--color-background-3);
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.buscador .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.cuenta ul {
  display: flex;
}

.cuentaInputRegistro {
  display: flex;
  align-items: center;
  background-color: var(--color-dark);
  margin-top: auto;
  margin-bottom: auto;
  height: 43px;
}

.contain-logo-buscador {
  width: 400px;
  display: flex;
}









html{
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}

body{
    align-items: center;
    height: 100vh;   
}

.contenedor{
    margin: 0px;
    align-content: center;
    max-width: 100%;
    width: 100%;
    background: #000000;
}

.contenedor img{
    width: 100%;
}


@media(min-width:768px){
    .contenedor img{
        height: auto;
        background-position: right;
    }

}
@media(min-width:1200px){
    .contenedor img{
        background-position: center;
    }
}

@media(min-width:768px){
    .contenedor-formulario{
        display: flex;
    }
}

.formulario{
    padding: 100px;
    color: whitesmoke;
    width: 100%;

}
.texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p{
    color: whitesmoke;

}
.texto-formulario h2{
    font-size: 30px;
    text-align: left;
    margin-top: 2.5%;
    margin-bottom: 3%;
}
.texto-formulario p{
    font-size: 22px;
    text-align: center;
}
.input label{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
}
.input input[type="submit"]{
    background: #8711C1;
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color .3s ease-in-out;
    border-radius: 10px;
}
.input input[type="submit"]:hover{
    cursor: pointer;
    background-color:#3d0858 ;
}


.input .eh{
box-sizing: border-box;
background: #1E1E1E;
border-radius: 12px;

}

.contenedor-formulario{
  height: 100vh;
}
.formulario .input input{
  display: flex;
  margin-right: 10%;
  left: 0;
}
.login-reg-txt, .login-reg-line{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.login-reg-txt li a{
  margin: 30px;
}
.login-reg-txt li .active{
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
letter-spacing: -0.01em;
text-decoration: none;
list-style: none;
color: #8711C1;
}
.login-reg-txt li {
list-style: none;
margin: 10px;
}
.active{
  border-color: #8711C1;
}
.login-reg-txt li .des{
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;
letter-spacing: -0.01em;
text-decoration: none;
list-style: none;
color: whitesmoke;
}

.cla{
  width: 30%;
}

.but{
  text-align: center;
}














@media (max-width: 1220px) {
  .menu {
    width: 100%;
  }

  .menu ul {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;
  }

  .menu ul.active {
    border-top: 1px solid var(--color-dark-variant);
    margin: 16px;
    height: auto;
    transition: all 0.2s;
  }

  .header-all-content {
    justify-content: space-between;
    padding: 5px;
  }

  .menu nav ul li {
    display: block;
    line-height: 43px;
  }

  .icon i {
    display: block;
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
  }

  .cuenta.menu ul {
    flex-direction: column;
  }
}

@media (max-width: 966px) {
  .row-footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .row-footer {
    grid-template-columns: 1fr;
  }

  .contain-logo-buscador {
    width: 265px;
  }
}
